
<li class="nav-item">
    <a class="nav-link active" href="{{ "categories/r/" | absURL }}">R</a>
</li>
<li class="nav-item">
    <a class="nav-link active" href="{{ "categories/shiny/" | absURL }}">Shiny</a>
</li>
<li class="nav-item">
    <a class="nav-link active" href="{{ "categories/python/" | absURL }}">Python</a>
</li>
<li class="nav-item">
    <a class="nav-link active" href="{{ "about/" | absURL }}">About</a>
</li>
<li class="nav-item">
    <a class="nav-link active" href="{{ "cv/" | absURL }}">cv</a>
</li>